#include <windows.h>
#define IDI_GP32EMU 101
IDI_GP32EMU ICON "../../resources/gp32emu.ico"

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS 0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "GP32emu standalone emulator\0"
            VALUE "FileVersion", "1.0.0\0"
            VALUE "ProductName", "GP32emu\0"
            VALUE "ProductVersion", "1.0.0\0"
            VALUE "OriginalFilename", "gp32emu_win64.exe\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
